@tailwind base;
@tailwind components;
@tailwind utilities;

.dashboardhome{
   background-image: url('https://res.cloudinary.com/dutrpqoun/image/upload/v1723295337/dashboardhome_ush96f.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}